@model RentCars.ModelsDto.CreateCarDto
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>



<div class="form-group">
    @using (Html.BeginForm("CreatePost", "Car", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <p> <input type="text" asp-for="Brand" placeholder="Brand"/></p>
        <p> <input type="text" asp-for="Model" placeholder="Model"/></p>
        <p> <input type="number" asp-for="Price" placeholder="Price"/></p>
        <p> <input type="number" asp-for="MaxSpeed" placeholder="Max Speed"/></p>
        <p> <input type="text" asp-for="Milage" placeholder="Milage"/></p>
        <p> <input type="text" asp-for="Transmisson" placeholder="Transmisson"/></p>
        <p> <input type="number" asp-for="Year" placeholder="Year"/></p>
        <p> <input type="number" asp-for="NumberOfSeats" placeholder="Number Of Seats"/></p>
        <p> <input type="text" asp-for="CarPlate" placeholder="Car Plate"/></p>
        <p> <input type="number" asp-for="Vin" placeholder="Vin"/></p>

       <div class="form-group">
            <label>Image:</label>
            <input type="file" asp-for="Image"/>
       </div>

        <input type="submit" class="btn btn-success" />
    }

</div>
